<% content_for :title, "Posts" %>

<div class="page-header">
  <h1>Posts</h1>
</div>

<div id="posts" data-testid="posts-list">
  <% if @posts.empty? %>
    <div class="empty-state">
      <p>No posts yet.</p>
      <%= link_to "+ New Post", new_post_path, class: "btn btn--primary" %>
    </div>
  <% else %>
    <% @posts.each do |post| %>
      <div data-testid="post-item" data-post-id="<%= post.id %>">
        <%= render post %>
      </div>
    <% end %>
  <% end %>
</div>
